@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: optima;
  src: url(./assets/fonts/optima.ttf);
}

@font-face {
  font-family: 'optima-bold';
  src: url(./assets/fonts/optima-bold.ttf);
}

@font-face {
  font-family: inter;
  src: url(./assets/fonts/inter.ttf);
}

body {
  @apply font-optima;
}

.text-h1 {
  @apply text-[3.5rem] leading-[3rem] md:text-[6rem] md:leading-[5.1875rem];
}

.text-h2 {
  @apply text-xl leading-[1.625rem] md:text-[1.75rem] md:leading-[2.275rem];
}

.text-h3 {
  @apply text-[0.9375rem] leading-[1.21875rem] md:text-2xl md:leading-[1.95rem];
}

.text-h4 {
  @apply font-optima-bold text-[1.375rem] leading-[1.7875rem] md:text-2xl md:leading-[1.95rem];
}

.text-b1 {
  @apply font-inter text-[0.9375rem] leading-[1.40625rem];
}

.text-b2 {
  @apply text-[0.9375rem] leading-[1.21875rem];
}

.text-minium {
  @apply text-xs leading-[0.975rem];
}

.text-btn {
  @apply text-base leading-[1.3rem] tracking-[-0.2%] md:text-xl md:leading-[1.625rem];
}

.text-d1 {
  @apply text-[5rem] leading-[5rem] md:text-[7.5rem] md:leading-[9.75rem];
}

.text-d2 {
  @apply text-7xl leading-[4.5rem] md:text-[7rem] md:leading-[9.1rem];
}
